<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779240220888-pjfqqbif0rv49p0c1m3snjc2p6v9bv14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779240220888-pjfqqbif0rv49p0c1m3snjc2p6v9bv14</string>
	<key>API_KEY</key>
	<string>AIzaSyAo1_RUO5eDYDL0h18x2fMaUo0fVlUJePM</string>
	<key>GCM_SENDER_ID</key>
	<string>779240220888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>studygramcu</string>
	<key>STORAGE_BUCKET</key>
	<string>studygramcu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779240220888:ios:25ce403eb4edfec2fe8fad</string>
</dict>
</plist>